<html>
  <head>
    <title>Guess!</title>
    <style>
      body {
        background: <%= color %>;
      }
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= phrase %> <br><br>
    </p>
  </body>
</html>
